GCP_PROJECT_ID=your-gcp-project-id
GCP_LOCATION=us-east4
VERTEX_RAG_EMBEDDING_MODEL=publishers/google/models/text-embedding-005
VAPI_PRIVATE_KEY=your-vapi-private-key
VAPI_DEFAULT_PHONE_NUMBER=+12604002243
VAPI_DEFAULT_PHONE_NUMBER_ID=

POSTGRES_DB=gemellus
POSTGRES_USER=gemellus
POSTGRES_PASSWORD=change-me-in-local-env
POSTGRES_PORT=5432
NEO4J_HOST=http://70.34.249.162:7474/
NEO4J_AUTH=