alembic==1.16.5
fastapi==0.116.1
google-cloud-aiplatform==1.119.0
jinja2==3.1.6
python-multipart==0.0.20
httpx==0.28.1
psycopg[binary]==3.2.9
pytest==8.4.1
redis==5.2.1
taskiq==0.11.18
taskiq-redis==1.0.6
uvicorn[standard]==0.35.0
